.custom-calendar{
    width: 600px;
    margin: 50px auto;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(236, 236, 236);
}

.custom-calendar-header{
    height: 30px;
    background-color: rgb(236, 236, 255);
    border: 1px solid rgb(254, 251, 255);
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-items: center;
    border-radius: 20px 20px 0px 0px;
}

.custom-calendar-names{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 900;
    font-family:sans-serif;
}

.custom-calendar-body{
    display: grid;
    /* width: 1000px; */
    border: 1px solid rgb(254, 251, 255);
    border-radius: 20px;
    text-align: center;

    display: grid;
}

.custom-calendar-weeks-body{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    text-align: center;
    
}

.custom-calendar-days-body{
    display: grid;
    /* border:  solid rgb(214, 204, 204); */
    width: 30px;
    height: 30px;
    
    margin: 10px;
    text-align: center;
    align-items: center;
    border: 1px solid rgb(248, 248, 248);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(242, 235, 248);
    
}

.custom-calendar-days-body:hover{
    background-color: rgb(224, 216, 231);
    border-radius: 10px;
    opacity: 50%;
}

.custom-calendar-days-before{
    color:rgb(214, 204, 204);
}

.custom-calendar-days-selected{
    display: grid;
    width: 30px;
    height: 30px;
    background-color: rgb(214, 204, 233);
    border-radius: 10px;
    text-align: center;
    align-items: center;
}